.popup-content {
    border: none;
    width: 100%;
    height: 100%;    
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    inset: 0;
    place-items: center;
}

.popup-content img {
    width: 350px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.479);
}

.popup-content button {
    background-color: #F096AE;
    color: #ffffff;
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.479);
}

.popup-content h3 {
    color: #ffffff;
}

.popup-content #closePopup {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.popup-content a {
    text-decoration: none;
    color: #ffffff;
}

.popup-content button:hover {
    transform: scale(1.1);
    box-shadow: 0px 6px 16px rgba(161, 0, 78, 0.5);
}
.popup-content button:active {
    background-color: rgb(255, 240, 245);
    color: #d3879b;
}
